block main_footer
    #footer
        p Copyright (c) foobar
    script(src="/scripts/pribors.js")
    script(src="/scripts/multimeter.js")
    script(src="/scripts/material.min.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")